beautifulsoup4==4.11.2
cffi==1.15.1
chardet==5.1.0
colorclass==2.2.2
compressed-rtf==1.0.6
cryptography==40.0.2
easygui==0.98.3
ebcdic==1.1.1
et-xmlfile==1.1.0
extract-msg==0.40.0
IMAPClient==2.3.1
lark-parser==0.12.0
msoffcrypto-tool==5.0.1
numpy==1.24.2
olefile==0.46
oletools==0.60.1
openpyxl==3.1.2
pandas==2.0.0
pcodedmp==1.2.6
pycparser==2.21
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
red-black-tree-mod==1.20
RTFDE==0.0.2
six==1.16.0
soupsieve==2.4.1
tzdata==2023.3
tzlocal==4.2
win-unicode-console==0.5
